#!/bin/bash

sleep 60 
ethtool -G enp6s0 rx 4096 tx 4096 
sleep 10
ethtool -G enp7s0 rx 4096 tx 4096 
sleep 10
echo "ffffff" > /sys/class/net/enp6s0/queues/rx-0/rps_cpus
echo "ffffff" > /sys/class/net/enp7s0/queues/rx-0/rps_cpus

/usr/bin/rsync -a root@{{ master_node }}:/etc/nginx/sites-enabled /etc/nginx
/usr/bin/rsync -a --exclude 'ssl-dhparams.pem' root@{{ master_node }}:/etc/nginx/sslcert /etc/nginx
sleep 2

systemctl start openresty \
&& sleep 10 \
&& systemctl start bgpd \
