network:
  version: 2
  renderer: networkd
  ethernets:

    enp3s0f0:
      dhcp4: no
    enp3s0f1:
      dhcp4: no

  bonds:
    bond0:
      interfaces:
        - enp3s0f0
        - enp3s0f1


      parameters:
        mode: 802.3ad
        lacp-rate: fast
        mii-monitor-interval: 100
      
      addresses: [ {{ iface.external.ipaddr }}/{{ iface.external.netmask }}, {{ iface.bgpd.ipaddr }}/{{ iface.bgpd.netmask }}, {{ vip_address }} ]
      gateway4: {{ iface.external.gateway }}
      nameservers:
        addresses: [8.8.8.8, 8.8.4.4]
              
  vlans:
    vlan30:
      id: 30
      link: bond0
      addresses: [ {{ iface.vlan30.ipaddr }}/{{ iface.vlan30.netmask }} ]
