    server {
        listen       {{ listen_server }}:80;
        server_name  {{ server_names }};

        access_log  /var/log/nginx/{{ web_domain }}.access.log;
	error_log   /var/log/nginx/{{ web_domain }}.error.log warn;

        location /
        {
                proxy_pass  http://{{ ispmanager_node }}:80/;
                proxy_set_header Host $host;
                proxy_set_header X-Real-IP $remote_addr;
                proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
                proxy_set_header X-Forwarded-Proto $scheme;
        }

    }

